*
  box-sizing: border-box

body, input, textarea, button, select
  background: black
  color: white
  font-size: 1em
.invalid
  background: hsl(0,50%,25%)
textarea
  vertical-align: top

a
  color: hsl(60, 100%, 50%)

header
  text-align: center
  padding: 0.5em
  font-size: 2em
.input
  margin-block: 0.25em

footer
  display: flex
  flex-direction: row
  justify-content: space-between

td
  vertical-align: top
tr > td:first-child
  text-align: right

button.forbid
  cursor: pointer
  margin-left: 0.25em
  margin-right: 0.5em
  &::before
    content: '×'

button.randomize
  margin-left: 0.5em

.link
  float: right
  border: ridge
  margin-top: -0.15em
  padding: 0.15em 0.25em
  background: #222
  &:hover, &:focus
    background: #444
  > a
    text-decoration: none

#ladderText
  clear: both
  max-height: 4.5em
  overflow-y: auto
  border: 1px solid white
  padding: 2px
